h3.required::before {
    content: "* ";
    color: red;
    font-weight: bold;
}

span.required::before {
    content: "* ";
    color: red;
}

label.required::before {
    content: "* ";
    color: red;
}

/* .badge-custom {
    font-size: 15px;
    font-weight: normal;
} */

.badge-custom {
    font-size: 90%;
    font-weight: normal;
    padding: 0.4em 0.6em;
}