h3.required::before {
    content: "* ";
    color: red;
    font-weight: bold;
}

span.required::before {
    content: "* ";
    color: red;
}

label.required::before {
    content: "* ";
    color: red;
}

/* .table-responsive table {
    min-width: 1500px;
} */

.badge-custom {
    font-size: 16px;
    font-weight: normal;
}