h3.required::before {
    content: "* ";
    color: red;
    font-weight: bold;
}

span.required::before {
    content: "* ";
    color: red;
}

label.required::before {
    content: "* ";
    color: red;
}

.badge-custom {
    /* font-size: 90%;
    font-weight: normal;
    padding: 10px 5px; */
    
    display: inline-block;
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}